body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: sans-serif;
}
.header {
    background-color: #521a74;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 50%);
    height: 56px;
    display: flex;
    align-items: center;
}
.navbarHeader {
    width: 1100px;
    margin: 0 auto;
}
.body {
    width: 1100px;
    margin: 0 auto;
}
.formSearch-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.formSearch {
    background-color: #fff;
    width: max-content;
    border-radius: 4px;
    display: flex;
    padding-left: 15px;
}
.formSearch input {
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    width: 350px;
    border-right: 0.5px solid #cccccc;
}
.formSearch select {
    padding: 0;
    border: none;
    outline: none;
    font-size: 18px;
    width: 250px;
    border-right: 0.5px solid #cccccc;
    margin-left: 15px;
}
.formSearch select:nth-child(3) {
    border: none;
}
.formSearch .buttonSearch {
    width: 204px;
    background-color: #521a74;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.formSearch .buttonSearch i {
    font-size: 24px;
    margin-right: 5px;
}
.numberResultSearch {
    margin-top: 30px;
    color: #521a74;
    font-weight: bold;
    font-size: 24px;
    border-left: 5px solid #521a74;
    padding-left: 10px;
}
.resultSearch {
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 25%);
    margin-top: 30px;
    padding: 10px;
}
.resultSearch .resultItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}
.resultSearch .resultItem:nth-last-child(1){
    border: none;
}
.resultSearch .resultItem .resultName {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.resultSearch .resultItem .resultName :nth-child(2) {
    margin-top: 5px;
}
.resultSearch .resultItem .resultName :nth-child(1) {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.resultSearch .resultItem .resultSalary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.resultSearch .resultItem .resultSalary :nth-child(2) {
    margin-top: 5px;
}
.resultSearch .resultItem .resultTinh :nth-child(2) {
    margin-top: 5px;
}
.resultSearch .resultItem .resultDate :nth-child(2) {
    margin-top: 5px;
}
.resultSearch .resultItem .resultTinh {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.resultSearch .resultItem .resultDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
